@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #f0eeee;
}

:root {
    --azul-claro: #3FA2F6;
    --azul-geada: #90C5FC;
    --cinza: #d1d1d1;
    --preto: #002B2D;
    --verde-escuro: #006989;
    --laranja-claro: #FBAB7E;
    --laranja-geada: #F7CE68;
    --azul-escuro: #034153;
    --azul-claro-muito: #E0F7FA;
    --cinza-escuro: #222222;
    --preto-suave: #252525;
    --branco: #ffffff;
    --preto-puro: #000000;
}

.notranslate {
    translate: no;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}

.goog-te-gadget {
    display: none;
}

.goog-te-banner-frame {
    display:none !important
}

body {
    top: 0px !important; 
}