@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #f0eeee;
}

:root {
    --azul-claro: #3FA2F6;
    --azul-geada: #90C5FC;
}

[data-theme="light"] {
    --branco: #ffffff;
    --cinza: #d1d1d1;
}
  
[data-theme="dark"] {
    --branco: #000000;
    --cinza: #d1d1d1;
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
    transition: transform 0.3s ease; 
    height: 6.5em;
    display: flex;
    align-items: center; 
    padding: 10px;
    background-image: linear-gradient(135deg, #002B2D 0%, #3FA2F6 100%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 140vw;
    background-color:rgba(0, 0, 0, 0.5);
}

.header ul {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header li {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:  12pt;
    font-style: normal;
    list-style: none;
}

.header__image {
    width: auto;
    max-width: 100%;
    height: 5em;
    transition: 100ms;
    cursor: pointer;
}

.header__image:hover {
    scale: 1.1;
}

.header__align {
    display: flex;
    gap: 3vw;
}

.header a {
    text-decoration: none;
    color: var(--branco);
}

.fas, .fa-solid {
    font-weight: 900;
    overflow: hidden;
}

.home {
    height: 100vh;
    max-height: 100%;
    background-image: linear-gradient(135deg, #002B2D 0%, #3FA2F6 100%, rgba(0, 0, 0, 0.5) 100%);
    overflow: hidden;
}

.home__container {
    display: flex;
    align-items: center;
    padding: 5vw 5vw;
    height: 80vh;
    justify-content: space-evenly;
}

.home__title {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size:  42pt;
    width: 50%;
    color: var(--branco);
    font-style: normal;
}

.home__title--color {
    color: var(--azul-geada);
}

.home__bgasset {
    width: 25vw;
    height: auto;
}

.home__sobrenos {
    height: 100vh;
    background-color: #002B2D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    position: relative;
    overflow: hidden; 
}

.home__sobrenos--title {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size:  15pt;
    color: var(--branco);
    position: relative;
    z-index: 1;
}

.home__sobrenos--txt {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    width: 70%;
    font-size:  30pt;
    color: #E0F7FA;
    position: relative;
    z-index: 1;
}

.home__sobrenos--WORKWAY {
    position: absolute;
    width: 50vw;
    opacity: 0.4;
    height: auto;
    z-index: 0;
}

.home__planostitulo {
    display: flex;
    height: 60vh;
    background-color: #f0eeee;
}

.home__planostitulo--txt {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    width: 70%;
    font-size: 30pt;
    padding: 2em;
}

.home__planos {
    display: flex;
    background-color: #f0eeee;
    justify-content: space-around;
    padding: 5em 10em;
    height: auto;
    min-height: 60vh;
}

.home__planos--img {
    display: flex;
    width: 20em;
    height: auto;
    align-self: start;
}

.home__planos--card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 30vw;
    height: 25vw;
    justify-content: space-around;
    overflow: hidden;
}

.home__planos--card h1 {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #006989;
    font-weight: 700;
    font-size: 30pt;
}

.home__planos--card p {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #252525;
    font-weight: 400;
    font-size: 18pt;
}

.home__planos--card ul {
    list-style: none;
}

.home__planos--card li {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #252525;
    font-weight: 400;
    font-size: 14pt;
    line-height: 1.2em;
}

.home__planos--card button {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient( 93.2deg,  #006989 14.4%, #034153 90.8% );
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: var(--branco);
    font-weight: 400;
    font-size: 16pt;
    border: 0;
    outline: 0;
    width: 12em;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    overflow: hidden;
}

.card-1 {
    opacity: 1;
}

.home__escolha {
    height: 100vw;
    max-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-direction: row;
    align-items: center;
}

.home__escolha--card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 38vw;
    width: 25vw;
    overflow: hidden;
}

.home__escolha--card img {
    width: 14vw;
    height: auto;
}

.home__escolha--card figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    height: 15vw;
    width: 100%;
}

.home__escolha--card h3 {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #002B2D;
    font-weight: 600;
    font-size: 22pt;
}

.home__escolha--card li {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #222222;
    font-weight: 400;
    padding: 5px;
    font-size: 12pt;
}

.home__escolha--card button {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #ffffff;
    font-weight: 400;
    padding: 5px;
    font-size: 22pt;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    border: 0;
    height: 5vw;
    background-color: #002B2D;
    cursor: pointer;
}

.home__feedbacks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    background-image: url('../assets/images/home__feedback.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home__feedbacks h1 {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    color: #222222;
    font-weight: 400;
    padding: 5px;
    font-size: 18pt;
}

.home__feedbacks span {
    color: #3FA2F6;
    font-weight: 400;
}

.home__feedbacks--container {
    display: flex;
    flex-direction: column;
}

.home__feedbacks--container section {
    
}